<% include partials/header %>

<div class="ui main text container segment">
  <div class="ui huge header">
    Enter your login credentials
  </div>
  <form class="ui form" action="/login" method="post">
    <div class="field">
      <label for="">Username</label>
      <input type="text" name="username">
    </div>
    <div class="field">
      <label for="">Password</label>
      <input type="password" name="password">
    </div>
    <button type="submit" class="ui secondary button">
      Login
    </button>
  </form>
</div>

<% include partials/footer %>
